* { box-sizing: border-box; }

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.top-bar {
  position: fixed;
  top: 0;
  right: 0;
  padding: 8px;
}

.top-bar.hide {
  display: none;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app .stage {
  display: none;
  padding: 80px;
  border: 1px solid #eee;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, .2);
  text-align: center;
}

.app .stage label {
  font-size: 24px;
  font-weight: bold;
  display: block;
  margin: 12px; 
}

.app .stage input, select {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 18px;
}

.app .stage option {
  font-size: 14px;
}

.double-input {
  display: flex;
  justify-content: space-between;
}

.double-input input,
.double-input select {
  flex: 0 0 45%;
}

.app .stage button {
  display: block;
  width: 75%;
  padding: 8px;
  margin: 8px auto;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.app .stage .warning {
  display: none;
  color: #991010;
  padding: 8px;
}

.app .stage .warning.show {
  display: block;
}

.app .stage.book-entry.working {
  opacity: .5;
}

.app .stage.book-entry.working .check-shelf {
  display: none;
}

.app .stage.book-entry .spinner {
  display: none;
  font-size: 40px;
}

.app .stage.book-entry.working .spinner {
  display: block;
}

.app .stage .guesses i {
  margin: 8px;
  font-size: 40px;
  opacity: .3;
}

.app .stage .guesses .success {
  color: #21b7b7;
}

.app .stage .guesses .failure {
  color: #991010;
}

.app .stage .guesses .current {
  opacity: 1;
}

.app[data-stage="sign-in"] .sign-in.stage { display: block; }
.app[data-stage="book-entry"] .book-entry.stage { display: block; }
.app[data-stage="results"] .results.stage { display: block; }